
	<div>
		<ul class="breadcrumb">

			<li>
				<%= link_to 'Ingredientes', ingredients_url %><span class="divider">/</span>
			</li>
			<li>
				Editar
			</li>
		</ul>
	</div>
	
				
	<div class="row-fluid sortable">	
		<div class="box span12">
			
			<div data-original-title="" class="box-header well">
				<h2><i class="icon-edit"></i> Editando '<%= resource.name %>'</h2>
			</div>
			
			<div class="box-content">
			<%= form_for resource, :html => {:class => "form-horizontal"} do |f| %>
			<fieldset>
				<legend>Creando nuevo ingrediente</legend>
				
				<div class="control-group">
					<label class="control-label" for="name">Nombre</label>
					
					<div class="controls">
						<%= f.text_field :name, {:class => 'span6' } %>
						<p class="help-block">Editar el nombre del ingrediente (max 255 caracteres)</p>
					</div>
				</div>
				
				<div class="form-actions">
					<%= f.submit "Editar", {:class => "btn btn-primary" } %>
					<%= link_to 'Volver', ingredients_url, :class => "btn btn-info" %>

				</div>

			</fieldset>
			<% end %>
			</div>
		</div><!--/span-->
	</div><!--/row-->

